
.resEdit {
    padding: 15px;
  }

  .resLine {
    width: 95%;
    padding: 3px;
    margin: 5px;
    border: 1px solid #d0d0d0;
  }

  body {
    overflow: hidden;
  }





:root { -
	-litepicker-container-months-color-bg: #fff; -
	-litepicker-container-months-box-shadow-color: #ddd; -
	-litepicker-footer-color-bg: #fafafa; -
	-litepicker-footer-box-shadow-color: #ddd; -
	-litepicker-tooltip-color-bg: #fff; -
	-litepicker-month-header-color: #333; -
	-litepicker-button-prev-month-color: #9e9e9e; -
	-litepicker-button-next-month-color: #9e9e9e; -
	-litepicker-button-prev-month-color-hover: #2196f3; -
	-litepicker-button-next-month-color-hover: #2196f3; -
	-litepicker-month-width: calc(var(- -litepicker-day-width)* 7); -
	-litepicker-month-weekday-color: #9e9e9e; -
	-litepicker-month-week-number-color: #9e9e9e; -
	-litepicker-day-width: 38px; -
	-litepicker-day-color: #333; -
	-litepicker-day-color-hover: #2196f3; -
	-litepicker-is-today-color: #f44336; -
	-litepicker-is-in-range-color: #bbdefb; -
	-litepicker-is-locked-color: #9e9e9e; -
	-litepicker-is-start-color: #fff; -
	-litepicker-is-start-color-bg: #2196f3; -
	-litepicker-is-end-color: #fff; -
	-litepicker-is-end-color-bg: #2196f3; -
	-litepicker-button-cancel-color: #fff; -
	-litepicker-button-cancel-color-bg: #9e9e9e; -
	-litepicker-button-apply-color: #fff; -
	-litepicker-button-apply-color-bg: #2196f3; -
	-litepicker-button-reset-color: #909090; -
	-litepicker-button-reset-color-hover: #2196f3; -
	-litepicker-highlighted-day-color: #333; -
	-litepicker-highlighted-day-color-bg: #ffeb3b
}

.show-week-numbers { -
	-litepicker-month-width: calc(var(- -litepicker-day-width)* 8)
}

.litepicker {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
	font-size: 0.8em;
	display: none
}

.litepicker button {
	border: none;
	background: none
}

.litepicker .container__main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.litepicker .container__months {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: var(- -litepicker-container-months-color-bg);
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px
		var(- -litepicker-container-months-box-shadow-color);
	box-shadow: 0 0 5px var(- -litepicker-container-months-box-shadow-color);
	width: calc(var(- -litepicker-month-width)+ 10px);
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.litepicker .container__months.columns-2 {
	width: calc(( var(- -litepicker-month-width)* 2)+ 20px)
}

.litepicker .container__months.columns-3 {
	width: calc(( var(- -litepicker-month-width)* 3)+ 30px)
}

.litepicker .container__months.columns-4 {
	width: calc(( var(- -litepicker-month-width)* 4)+ 40px)
}

.litepicker .container__months.split-view .month-item-header .button-previous-month,
	.litepicker .container__months.split-view .month-item-header .button-next-month
	{
	visibility: visible
}

.litepicker .container__months .month-item {
	padding: 5px;
	width: var(- -litepicker-month-width);
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.litepicker .container__months .month-item-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-weight: 500;
	padding: 10px 5px;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(- -litepicker-month-header-color)
}

.litepicker .container__months .month-item-header div {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.litepicker .container__months .month-item-header div>.month-item-name {
	margin-right: 5px
}

.litepicker .container__months .month-item-header div>.month-item-year {
	padding: 0
}

.litepicker .container__months .month-item-header .reset-button {
	color: var(- -litepicker-button-reset-color)
}

.litepicker .container__months .month-item-header .reset-button>svg {
	fill: var(- -litepicker-button-reset-color)
}

.litepicker .container__months .month-item-header .reset-button * {
	pointer-events: none
}

.litepicker .container__months .month-item-header .reset-button:hover {
	color: var(- -litepicker-button-reset-color-hover)
}

.litepicker .container__months .month-item-header .reset-button:hover>svg
	{
	fill: var(- -litepicker-button-reset-color-hover)
}

.litepicker .container__months .month-item-header .button-previous-month,
	.litepicker .container__months .month-item-header .button-next-month {
	visibility: hidden;
	text-decoration: none;
	padding: 3px 5px;
	border-radius: 3px;
	-webkit-transition: color 0.3s, border 0.3s;
	transition: color 0.3s, border 0.3s;
	cursor: default
}

.litepicker .container__months .month-item-header .button-previous-month *,
	.litepicker .container__months .month-item-header .button-next-month *
	{
	pointer-events: none
}

.litepicker .container__months .month-item-header .button-previous-month
	{
	color: var(- -litepicker-button-prev-month-color)
}

.litepicker .container__months .month-item-header .button-previous-month>svg,
	.litepicker .container__months .month-item-header .button-previous-month>img
	{
	fill: var(- -litepicker-button-prev-month-color)
}

.litepicker .container__months .month-item-header .button-previous-month:hover
	{
	color: var(- -litepicker-button-prev-month-color-hover)
}

.litepicker .container__months .month-item-header .button-previous-month:hover>svg
	{
	fill: var(- -litepicker-button-prev-month-color-hover)
}

.litepicker .container__months .month-item-header .button-next-month {
	color: var(- -litepicker-button-next-month-color)
}

.litepicker .container__months .month-item-header .button-next-month>svg,
	.litepicker .container__months .month-item-header .button-next-month>img
	{
	fill: var(- -litepicker-button-next-month-color)
}

.litepicker .container__months .month-item-header .button-next-month:hover
	{
	color: var(- -litepicker-button-next-month-color-hover)
}

.litepicker .container__months .month-item-header .button-next-month:hover>svg
	{
	fill: var(- -litepicker-button-next-month-color-hover)
}

.litepicker .container__months .month-item-weekdays-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-self: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	color: var(- -litepicker-month-weekday-color)
}

.litepicker .container__months .month-item-weekdays-row>div {
	padding: 5px 0;
	font-size: 85%;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: var(- -litepicker-day-width);
	text-align: center
}

.litepicker .container__months .month-item:first-child .button-previous-month
	{
	visibility: visible
}

.litepicker .container__months .month-item:last-child .button-next-month
	{
	visibility: visible
}

.litepicker .container__months .month-item.no-previous-month .button-previous-month
	{
	visibility: hidden
}

.litepicker .container__months .month-item.no-next-month .button-next-month
	{
	visibility: hidden
}

.litepicker .container__days {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-self: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: center;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.litepicker .container__days>div, .litepicker .container__days>a {
	padding: 5px 0;
	width: var(- -litepicker-day-width)
}

.litepicker .container__days .day-item {
	color: var(- -litepicker-day-color);
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	-webkit-transition: color 0.3s, border 0.3s;
	transition: color 0.3s, border 0.3s;
	cursor: default
}

.litepicker .container__days .day-item:hover {
	color: var(- -litepicker-day-color-hover);
	-webkit-box-shadow: inset 0 0 0 1px var(- -litepicker-day-color-hover);
	box-shadow: inset 0 0 0 1px var(- -litepicker-day-color-hover)
}

.litepicker .container__days .day-item.is-today {
	color: var(- -litepicker-is-today-color)
}

.litepicker .container__days .day-item.is-locked {
	color: var(- -litepicker-is-locked-color)
}

.litepicker .container__days .day-item.is-locked:hover {
	color: var(- -litepicker-is-locked-color);
	-webkit-box-shadow: none;
	box-shadow: none;
	cursor: default
}

.litepicker .container__days .day-item.is-in-range {
	background-color: var(- -litepicker-is-in-range-color);
	border-radius: 0
}

.litepicker .container__days .day-item.is-start-date {
	color: var(- -litepicker-is-start-color);
	background-color: var(- -litepicker-is-start-color-bg);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.litepicker .container__days .day-item.is-start-date.is-flipped {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

.litepicker .container__days .day-item.is-end-date {
	color: var(- -litepicker-is-end-color);
	background-color: var(- -litepicker-is-end-color-bg);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

.litepicker .container__days .day-item.is-end-date.is-flipped {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.litepicker .container__days .day-item.is-start-date.is-end-date {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

.litepicker .container__days .day-item.is-highlighted {
	color: var(- -litepicker-highlighted-day-color);
	background-color: var(- -litepicker-highlighted-day-color-bg)
}

.litepicker .container__days .week-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: var(- -litepicker-month-week-number-color);
	font-size: 85%
}

.litepicker .container__footer {
	text-align: right;
	padding: 10px 5px;
	margin: 0 5px;
	background-color: var(- -litepicker-footer-color-bg);
	-webkit-box-shadow: inset 0px 3px 3px 0px
		var(- -litepicker-footer-box-shadow-color);
	box-shadow: inset 0px 3px 3px 0px
		var(- -litepicker-footer-box-shadow-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px
}

.litepicker .container__footer .preview-date-range {
	margin-right: 10px;
	font-size: 90%
}

.litepicker .container__footer .button-cancel {
	background-color: var(- -litepicker-button-cancel-color-bg);
	color: var(- -litepicker-button-cancel-color);
	border: 0;
	padding: 3px 7px 4px;
	border-radius: 3px
}

.litepicker .container__footer .button-cancel * {
	pointer-events: none
}

.litepicker .container__footer .button-apply {
	background-color: var(- -litepicker-button-apply-color-bg);
	color: var(- -litepicker-button-apply-color);
	border: 0;
	padding: 3px 7px 4px;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 10px
}

.litepicker .container__footer .button-apply:disabled {
	opacity: 0.7
}

.litepicker .container__footer .button-apply * {
	pointer-events: none
}

.litepicker .container__tooltip {
	position: absolute;
	margin-top: -4px;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: var(- -litepicker-tooltip-color-bg);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	font-size: 11px;
	pointer-events: none;
	visibility: hidden
}

.litepicker .container__tooltip:before {
	position: absolute;
	bottom: -5px;
	left: calc(50% - 5px);
	border-top: 5px solid rgba(0, 0, 0, 0.12);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: ""
}

.litepicker .container__tooltip:after {
	position: absolute;
	bottom: -4px;
	left: calc(50% - 4px);
	border-top: 4px solid var(- -litepicker-tooltip-color-bg);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: ""
}
</
style
>
<
div
 
class
="
box
 
p-5
"
>
<
div
 
class
="
full-calendar
 
fc
 
fc-media-screen
 
fc-direction-ltr
 
fc-theme-standard
"
>
<
div
 
class
="
fc-header-toolbar
 
fc-toolbar
 
fc-toolbar-ltr
"
>
<
div
 
class
="
fc-toolbar-chunk
"
>
<
div
 
class
="
fc-button-group
"
>
<
button
 
type
="
button
"
 
title
="
Previous
 
week
"
 
aria-pressed
="
false
"
 
class
="
fc-prev-button
 
fc-button
 
fc-button-primary
"
>
<
span
 
class
="
fc-icon
 
fc-icon-chevron-left
"
>
</
span
>
</
button
>
<
button
 
type
="
button
"
 
title
="
Next
 
week
"
 
aria-pressed
="
false
"
 
class
="
fc-next-button
 
fc-button
 
fc-button-primary
"
>
<
span
 
class
="
fc-icon
 
fc-icon-chevron-right
"
>
</
span
>
</
button
>
</
div
>
<
button
 
type
="
button
"
 
title
="
This
 
week
"
 
aria-pressed
="
false
"
 
class
="
fc-today-button
 
fc-button
 
fc-button-primary
"
>
today
</
button
>
</
div
>
<
div
 
class
="
fc-toolbar-chunk
"
>
<
h2
 
class
="
fc-toolbar-title
"
 
id
="
fc-dom-1
"
>
Jan
 
10
 
–
 
16
,
2021
</
h2
>
</
div
>
<
div
 
class
="
fc-toolbar-chunk
"
>
<
div
 
class
="
fc-button-group
"
>
<
button
 
type
="
button
"
 
title
="
month
 
view
"
 
aria-pressed
="
false
"
 
class
="
fc-dayGridMonth-button
 
fc-button
 
fc-button-primary
"
>
month
</
button
>
<
button
 
type
="
button
"
 
title
="
week
 
view
"
 
aria-pressed
="
true
"
 
class
="
fc-timeGridWeek-button
 
fc-button
 
fc-button-primary
 
fc-button-active
"
>
week
</
button
>
<
button
 
type
="
button
"
 
title
="
day
 
view
"
 
aria-pressed
="
false
"
 
class
="
fc-timeGridDay-button
 
fc-button
 
fc-button-primary
"
>
day
</
button
>
<
button
 
type
="
button
"
 
title
="
list
 
view
"
 
aria-pressed
="
false
"
 
class
="
fc-listWeek-button
 
fc-button
 
fc-button-primary
"
>
list
</
button
>
</
div
>
</
div
>
</
div
>
<
div
 
aria-labelledby
="
fc-dom-1
"
 
class
="
fc-view-harness
 
fc-view-harness-active
"
 
style
="
height
:
 
458
.519px
;"
>
<
div
 
class
="
fc-timegrid
 
fc-timeGridWeek-view
 
fc-view
"
>
<
table
 
role
="
grid
"
 
class
="
fc-scrollgrid
  
fc-scrollgrid-liquid
"
>
<
thead
 
role
="
rowgroup
"
>
<
tr
 
role
="
presentation
"
 
class
="
fc-scrollgrid-section
 
fc-scrollgrid-section-header
 
"><
th
 
role
="
presentation
"
>
<
div
 
class
="
fc-scroller-harness
"
>
<
div
 
class
="
fc-scroller
"
 
style
="
overflow
:
 
hidden
 
scroll
;"
>
<
table
 
role
="
presentation
"
 
class
="
fc-col-header
 
"
style
="
width
:
 
599px
;"
>
<
colgroup
>
<
col
 
style
="
width
:
 
49px
;"
>
</
colgroup
>
<
thead
 
role
="
presentation
"
>
<
tr
 
role
="
row
"
>
<
th
 
aria-hidden
="
true
"
 
class
="
fc-timegrid-axis
"
>
<
div
 
class
="
fc-timegrid-axis-frame
"
>
</
div
>
</
th
>
<
th
 
role
="
columnheader
"
 
class
="
fc-col-header-cell
 
fc-day
 
fc-day-sun
 
fc-day-past
"
 
data-date
="
2021-01-10
"
>
<
div
 
class
="
fc-scrollgrid-sync-inner
"
>
<
a
 
class
="
fc-col-header-cell-cushion
 
"
title
="
Go
 
to
 
January
 
10
,
2021
"
 
data-navlink
=""
 
tabindex
="
0
"
>
Sun
 
1
/
10
</
a
>
</
div
>
</
th
>
<
th
 
role
="
columnheader
"
 
class
="
fc-col-header-cell
 
fc-day
 
fc-day-mon
 
fc-day-past
"
 
data-date
="
2021-01-11
"
>
<
div
 
class
="
fc-scrollgrid-sync-inner
"
>
<
a
 
class
="
fc-col-header-cell-cushion
 
"
title
="
Go
 
to
 
January
 
11
,
2021
"
 
data-navlink
=""
 
tabindex
="
0
"
>
Mon
 
1
/
11
</
a
>
</
div
>
</
th
>
<
th
 
role
="
columnheader
"
 
class
="
fc-col-header-cell
 
fc-day
 
fc-day-tue
 
fc-day-past
"
 
data-date
="
2021-01-12
"
>
<
div
 
class
="
fc-scrollgrid-sync-inner
"
>
<
a
 
class
="
fc-col-header-cell-cushion
 
"
title
="
Go
 
to
 
January
 
12
,
2021
"
 
data-navlink
=""
 
tabindex
="
0
"
>
Tue
 
1
/
12
</
a
>
</
div
>
</
th
>
<
th
 
role
="
columnheader
"
 
class
="
fc-col-header-cell
 
fc-day
 
fc-day-wed
 
fc-day-past
"
 
data-date
="
2021-01-13
"
>
<
div
 
class
="
fc-scrollgrid-sync-inner
"
>
<
a
 
class
="
fc-col-header-cell-cushion
 
"
title
="
Go
 
to
 
January
 
13
,
2021
"
 
data-navlink
=""
 
tabindex
="
0
"
>
Wed
 
1
/
13
</
a
>
</
div
>
</
th
>
<
th
 
role
="
columnheader
"
 
class
="
fc-col-header-cell
 
fc-day
 
fc-day-thu
 
fc-day-past
"
 
data-date
="
2021-01-14
"
>
<
div
 
class
="
fc-scrollgrid-sync-inner
"
>
<
a
 
class
="
fc-col-header-cell-cushion
 
"
title
="
Go
 
to
 
January
 
14
,
2021
"
 
data-navlink
=""
 
tabindex
="
0
"
>
Thu
 
1
/
14
</
a
>
</
div
>
</
th
>
<
th
 
role
="
columnheader
"
 
class
="
fc-col-header-cell
 
fc-day
 
fc-day-fri
 
fc-day-past
"
 
data-date
="
2021-01-15
"
>
<
div
 
class
="
fc-scrollgrid-sync-inner
"
>
<
a
 
class
="
fc-col-header-cell-cushion
 
"
title
="
Go
 
to
 
January
 
15
,
2021
"
 
data-navlink
=""
 
tabindex
="
0
"
>
Fri
 
1
/
15
</
a
>
</
div
>
</
th
>
<
th
 
role
="
columnheader
"
 
class
="
fc-col-header-cell
 
fc-day
 
fc-day-sat
 
fc-day-past
"
 
data-date
="
2021-01-16
"
>
<
div
 
class
="
fc-scrollgrid-sync-inner
"
>
<
a
 
class
="
fc-col-header-cell-cushion
 
"
title
="
Go
 
to
 
January
 
16
,
2021
"
 
data-navlink
=""
 
tabindex
="
0
"
>
Sat
 
1
/
16
</
a
>
</
div
>
</
th
>
</
tr
>
</
thead
>
</
table
>
</
div
>
</
div
>
</
th
>
</
tr
>
</
thead
>
<
tbody
 
role
="
rowgroup
"
>
<
tr
 
role
="
presentation
"
 
class
="
fc-scrollgrid-section
 
fc-scrollgrid-section-body
 
"><
td
 
role
="
presentation
"
>
<
div
 
class
="
fc-scroller-harness
"
>
<
div
 
class
="
fc-scroller
"
 
style
="
overflow
:
 
hidden
 
scroll
;"
>
<
div
 
class
="
fc-daygrid-body
 
fc-daygrid-body-unbalanced
 
fc-daygrid-body-natural
"
 
style
="
width
:
 
599px
;"
>
<
table
 
role
="
presentation
"
 
class
="
fc-scrollgrid-sync-table
"
 
style
="
width
:
 
599px
;"
>
<
colgroup
>
<
col
 
style
="
width
:
 
49px
;"
>
</
colgroup
>
<
tbody
 
role
="
presentation
"
>
<
tr
 
role
="
row
"
>
<
td
 
aria-hidden
="
true
"
 
class
="
fc-timegrid-axis
 
fc-scrollgrid-shrink
"
>
<
div
 
class
="
fc-timegrid-axis-frame
 
fc-scrollgrid-shrink-frame
 
fc-timegrid-axis-frame-liquid
"
>
<
span
 
class
="
fc-timegrid-axis-cushion
 
fc-scrollgrid-shrink-cushion
 
fc-scrollgrid-sync-inner
"
>
all-day
</
span
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-daygrid-day
 
fc-day
 
fc-day-sun
 
fc-day-past
"
 
data-date
="
2021-01-10
"
>
<
div
 
class
="
fc-daygrid-day-frame
 
fc-scrollgrid-sync-inner
"
>
<
div
 
class
="
fc-daygrid-day-events
"
>
<
div
 
class
="
fc-daygrid-event-harness
 
fc-daygrid-event-harness-abs
"
 
style
="
top
:
 
0px
;
 
left
:
 
0px
;
 
right
:
 
-78
.5625px
;"
>
<
a
 
class
="
fc-daygrid-event
 
fc-daygrid-block-event
 
fc-h-event
 
fc-event
 
fc-event-draggable
 
fc-event-resizable
 
fc-event-start
 
fc-event-end
 
fc-event-past
"
>
<
div
 
class
="
fc-event-main
"
>
<
div
 
class
="
fc-event-main-frame
"
>
<
div
 
class
="
fc-event-title-container
"
>
<
div
 
class
="
fc-event-title
 
fc-sticky
"
>
VueConfUS
</
div
>
</
div
>
</
div
>
</
div
>
<
div
 
class
="
fc-event-resizer
 
fc-event-resizer-end
"
>
</
div
>
</
a
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bottom
"
 
style
="
margin-top
:
 
29px
;"
>
</
div
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bg
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-daygrid-day
 
fc-day
 
fc-day-mon
 
fc-day-past
"
 
data-date
="
2021-01-11
"
>
<
div
 
class
="
fc-daygrid-day-frame
 
fc-scrollgrid-sync-inner
"
>
<
div
 
class
="
fc-daygrid-day-events
"
>
<
div
 
class
="
fc-daygrid-day-bottom
"
 
style
="
margin-top
:
 
29px
;"
>
</
div
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bg
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-daygrid-day
 
fc-day
 
fc-day-tue
 
fc-day-past
"
 
data-date
="
2021-01-12
"
>
<
div
 
class
="
fc-daygrid-day-frame
 
fc-scrollgrid-sync-inner
"
>
<
div
 
class
="
fc-daygrid-day-events
"
>
<
div
 
class
="
fc-daygrid-day-bottom
"
 
style
="
margin-top
:
 
0px
;"
>
</
div
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bg
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-daygrid-day
 
fc-day
 
fc-day-wed
 
fc-day-past
"
 
data-date
="
2021-01-13
"
>
<
div
 
class
="
fc-daygrid-day-frame
 
fc-scrollgrid-sync-inner
"
>
<
div
 
class
="
fc-daygrid-day-events
"
>
<
div
 
class
="
fc-daygrid-day-bottom
"
 
style
="
margin-top
:
 
0px
;"
>
</
div
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bg
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-daygrid-day
 
fc-day
 
fc-day-thu
 
fc-day-past
"
 
data-date
="
2021-01-14
"
>
<
div
 
class
="
fc-daygrid-day-frame
 
fc-scrollgrid-sync-inner
"
>
<
div
 
class
="
fc-daygrid-day-events
"
>
<
div
 
class
="
fc-daygrid-day-bottom
"
 
style
="
margin-top
:
 
0px
;"
>
</
div
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bg
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-daygrid-day
 
fc-day
 
fc-day-fri
 
fc-day-past
"
 
data-date
="
2021-01-15
"
>
<
div
 
class
="
fc-daygrid-day-frame
 
fc-scrollgrid-sync-inner
"
>
<
div
 
class
="
fc-daygrid-day-events
"
>
<
div
 
class
="
fc-daygrid-day-bottom
"
 
style
="
margin-top
:
 
0px
;"
>
</
div
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bg
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-daygrid-day
 
fc-day
 
fc-day-sat
 
fc-day-past
"
 
data-date
="
2021-01-16
"
>
<
div
 
class
="
fc-daygrid-day-frame
 
fc-scrollgrid-sync-inner
"
>
<
div
 
class
="
fc-daygrid-day-events
"
>
<
div
 
class
="
fc-daygrid-day-bottom
"
 
style
="
margin-top
:
 
0px
;"
>
</
div
>
</
div
>
<
div
 
class
="
fc-daygrid-day-bg
"
>
</
div
>
</
div
>
</
td
>
</
tr
>
</
tbody
>
</
table
>
</
div
>
</
div
>
</
div
>
</
td
>
</
tr
>
<
tr
 
role
="
presentation
"
 
class
="
fc-scrollgrid-section
"
>
<
td
 
class
="
fc-timegrid-divider
 
fc-cell-shaded
"
>
</
td
>
</
tr
>
<
tr
 
role
="
presentation
"
 
class
="
fc-scrollgrid-section
 
fc-scrollgrid-section-body
  
fc-scrollgrid-section-liquid
"
>
<
td
 
role
="
presentation
"
>
<
div
 
class
="
fc-scroller-harness
 
fc-scroller-harness-liquid
"
>
<
div
 
class
="
fc-scroller
 
fc-scroller-liquid-absolute
"
 
style
="
overflow
:
 
hidden
 
scroll
;"
>
<
div
 
class
="
fc-timegrid-body
"
 
style
="
width
:
 
599px
;"
>
<
div
 
class
="
fc-timegrid-slots
"
>
<
table
 
aria-hidden
="
true
"
 
class
=""
 
style
="
width
:
 
599px
;"
>
<
colgroup
>
<
col
 
style
="
width
:
 
49px
;"
>
</
colgroup
>
<
tbody
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
00
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
12am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
00
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
00
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
00
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
01
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
1am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
01
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
01
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
01
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
02
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
2am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
02
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
02
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
02
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
03
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
3am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
03
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
03
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
03
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
04
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
4am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
04
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
04
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
04
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
05
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
5am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
05
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
05
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
05
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
06
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
6am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
06
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
06
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
06
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
07
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
7am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
07
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
07
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
07
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
08
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
8am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
08
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
08
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
08
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
09
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
9am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
09
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
09
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
09
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
10
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
10am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
10
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
10
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
10
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
11
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
11am
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
11
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
11
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
11
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
12
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
12pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
12
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
12
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
12
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
13
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
1pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
13
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
13
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
13
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
14
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
2pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
14
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
14
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
14
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
15
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
3pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
15
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
15
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
15
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
16
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
4pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
16
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
16
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
16
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
17
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
5pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
17
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
17
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
17
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
18
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
6pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
18
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
18
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
18
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
19
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
7pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
19
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
19
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
19
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
20
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
8pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
20
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
20
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
20
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
21
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
9pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
21
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
21
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
21
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
22
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
10pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
22
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
22
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
22
:
30
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-scrollgrid-shrink
"
 
data-time
="
23
:
00
:
00
"
>
<
div
 
class
="
fc-timegrid-slot-label-frame
 
fc-scrollgrid-shrink-frame
"
>
<
div
 
class
="
fc-timegrid-slot-label-cushion
 
fc-scrollgrid-shrink-cushion
"
>
11pm
</
div
>
</
div
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
"
data-time
="
23
:
00
:
00
"
>
</
td
>
</
tr
>
<
tr
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-label
 
fc-timegrid-slot-minor
"
 
data-time
="
23
:
30
:
00
"
>
</
td
>
<
td
 
class
="
fc-timegrid-slot
 
fc-timegrid-slot-lane
 
fc-timegrid-slot-minor
"
 
data-time
="
23
:
30
:
00
"
>
</
td
>
</
tr
>
</
tbody
>
</
table
>
</
div
>
<
div
 
class
="
fc-timegrid-cols
"
>
<
table
 
role
="
presentation
"
 
style
="
width
:
 
599px
;"
>
<
colgroup
>
<
col
 
style
="
width
:
 
49px
;"
>
</
colgroup
>
<
tbody
 
role
="
presentation
"
>
<
tr
 
role
="
row
"
>
<
td
 
aria-hidden
="
true
"
 
class
="
fc-timegrid-col
 
fc-timegrid-axis
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-timegrid-col
 
fc-day
 
fc-day-sun
 
fc-day-past
"
 
data-date
="
2021-01-10
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-col-bg
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-timegrid-col
 
fc-day
 
fc-day-mon
 
fc-day-past
"
 
data-date
="
2021-01-11
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-col-bg
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-timegrid-col
 
fc-day
 
fc-day-tue
 
fc-day-past
"
 
data-date
="
2021-01-12
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-col-bg
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-timegrid-col
 
fc-day
 
fc-day-wed
 
fc-day-past
"
 
data-date
="
2021-01-13
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-col-bg
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-timegrid-col
 
fc-day
 
fc-day-thu
 
fc-day-past
"
 
data-date
="
2021-01-14
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-col-bg
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-timegrid-col
 
fc-day
 
fc-day-fri
 
fc-day-past
"
 
data-date
="
2021-01-15
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-col-bg
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
<
td
 
role
="
gridcell
"
 
class
="
fc-timegrid-col
 
fc-day
 
fc-day-sat
 
fc-day-past
"
 
data-date
="
2021-01-16
"
>
<
div
 
class
="
fc-timegrid-col-frame
"
>
<
div
 
class
="
fc-timegrid-col-bg
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-col-events
"
>
</
div
>
<
div
 
class
="
fc-timegrid-now-indicator-container
"
>
</
div
>
</
div
>
</
td
>
</
tr
>
</
tbody
>
</
table
>
</
div
>
</
div
>
</
div
>
</
div
>
</
td
>
</
tr
>
</
tbody
>
</
table
>
</
div
>
</
div
>
</
div
>
</
div
>